/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #dcd6bf;
  color: #333;
}

#logo-login {
  width: 200px;
  margin-bottom: 10px;
}

#panel-login {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.group-input {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: 500;
  color: #333;
}

.form-custom {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  background: #fafafa;
  color: #333;
  outline: none;
}

.form-custom:focus {
  border-color: #999;
}

.btn-green {
  width: 100%;
  padding: 10px;
  background: #e7d234;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-green:hover {
  background: #000000;
}

.alert {
  display: none;
  padding: 10px;
  background: #ffdddd;
  color: #a00;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #ffaaaa;
}

@media (max-width: 400px) {
  #panel-login {
    width: 90%;
  }
}
